---
layout: default
title: VB6
heading: Download Visual Basic 6
subtitle: For Computer Programming I, Honors Computer Programming II, and anyone interested!
---

<section class="hero diagonal">
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		{% if page.heading %}
			<h2>{{ page.heading }}</h2>
		{% elsif page.title %}
			<h2>{{ page.title }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
		<p><a class="button" href="https://drive.google.com/uc?export=download&id=12j0QR6pRjNx0XCHwLRQJGaxyWfO02ZAo" data-proofer-ignore>Download Now!</a></p>
	</div>
</section>


<section class="diagonal">
	<div class="text-container">
    <h3>{{ page.heading }}</h3>
		<ol>
      <li><a href="https://drive.google.com/uc?export=download&id=12j0QR6pRjNx0XCHwLRQJGaxyWfO02ZAo" data-proofer-ignore download>Download</a> the VB6 file</li>
      <li>Extract the zip file</li>
      <li>Run ALL msi files in the extracted folder</li>
      <li>To launch vb6 go to C:\Program Files (x86)\Microsoft Visual Studio\VB98\VB6.EXE</li>
		</ol>
	</div>
</section>
