---
layout: default
---

<section class="hero diagonal">
	<div class="container" {% if page.full_width %}style="max-width: 100%"{% endif %}>
		{% if page.title %}
			<h2>{{ page.title }}</h2>
		{% endif %}
		{% include post-title.html post=page %}
	</div>
</section>


<section class="diagonal">
	<div class="blog-post text-container">
		<div class="post-content">
			{{ content }}
		</div>
	</div>
</section>

{% if page.next %}
	<section class="diagonal alternate">
		<div class="text-container">
			<h2>Next post</h2>
			<div class="blog-post">
				{% include post-summary.html post=page.next.excerpt %}
			</div>
		</div>
	</section>

{% elsif page.previous %}
	<section class="diagonal alternate">
		<div class="text-container">
			<h2>Previous post</h2>
			<div class="blog-post">
				{% include post-summary.html post=page.previous %}
			</div>
		</div>
	</section>
{% endif %}
